.post {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.125rem;
  color: var(--gray-100);

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }
  p, ul {
    margin: 1.5rem 0;
  }
  ul{
    padding-left: 1.5rem;
    li{
      margin: 0.5rem 0;
    }
  }
}